In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df1 = pd.read_csv("neruldata.csv")
df1.head()

,Image,price,emi,a,size,b,c,society,d,location,...,total_sqft,price_per_sqft,Unnamed: 13,description,image,e,agent,Title,cta,cta8
0,NaN,2 Cr - 3.7 Cr,EMI starts at 99.29 K,NaN,NaN,NaN,NaN,NaN,NaN,"Nerul,Navi Mumbai",...,"Jun, 2024",22.08 K/sq.ft,NaN,L And T Seawoods Residences North Towers is a ...,https://is1-3.housingcdn.com/fb15c03b/616f2027...,NaN,HomeBazaar.com,Seller,View Phone,Contact
1,NaN,20.0 L - 33.5 L,EMI starts at 10.59 K,NaN,NaN,NaN,NaN,NaN,NaN,"Khopoli,Navi Mumbai",...,Ready to Move,NaN,NaN,"Situated in Khopoli at Shri Ram Nagar, Neelkan...",https://is1-3.housingcdn.com/0b8ad14c/75ff3828...,NaN,Neelkanth Properties,Developer,View Phone,Contact
2,https://is1-2.housingcdn.com/01c16c28/1dafa833...,2.5 Cr,EMI starts at 1.24 Lacs,NaN,2 BHK,NaN,NaN,Metro Tulsi Sagar,NaN,"Sector 28, Nerul,Navi Mumbai",...,1200 sq.ft,20.83 K/sq.ft,NaN,"2 BHK for sale on PALM BEACH ROAD at Nerul, on...",https://is1-2.housingcdn.com/fb15c03b/3e887d39...,NaN,Shokin Bafna,NaN,View Phone,Contact
3,https://is1-2.housingcdn.com/4f2250e8/437d02a8...,1.6 Cr - 3.5 Cr,EMI starts at 79.38 K,NaN,NaN,NaN,NaN,NaN,NaN,"Seawoods,Palm Beach Road - Seawoods,Navi Mumbai",...,"Jun, 2024",32.43 K/sq.ft,NaN,Seawoods Residences Phase Iisa premium housing...,NaN,NaN,s.v.incorporation,Seller + 2 more,View Phone,Contact
4,https://is1-2.housingcdn.com/4f2250e8/dea68ac2...,1.37 Cr - 2.85 Cr,EMI starts at 68.20 K,NaN,NaN,NaN,NaN,"Nerul,Navi Mumbai",NaN,"Nerul,Navi Mumbai",...,"Jun, 2025",21.67 K/sq.ft,NaN,Moreshwar 19 East is a residential project dev...,https://is1-3.housingcdn.com/fb15c03b/0ea26e88...,NaN,Bhagat Real Estate,Seller + 1 more,View Phone,Contact

In [3]:
df1.shape

(766, 21)

In [4]:
df2 = df1.drop(['Image','d','emi','a','b','c','society','possession','Unnamed: 13','image', 'e', 'agent', 'Title', 'cta', 'cta8','description'],axis='columns')
df2.shape

(766, 5)

In [5]:
df2.isnull().sum()

price               0
size              264
location          518
total_sqft         92
price_per_sqft    211
dtype: int64

In [6]:
df3 = df2.dropna()
df3.isnull().sum()

price             0
size              0
location          0
total_sqft        0
price_per_sqft    0
dtype: int64

In [7]:
df3.shape

(244, 5)

In [8]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
df3.bhk.unique()

C:\Users\Umesh\AppData\Local\Temp/ipykernel_17212/2716584372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

array([ 2,  4, 10,  3,  1,  5,  6,  0], dtype=int64)

In [9]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [10]:
df3[~df3['total_sqft'].apply(is_float)].head(10)

,price,size,location,total_sqft,price_per_sqft,bhk
2,2.5 Cr,2 BHK,"Sector 28, Nerul,Navi Mumbai",1200 sq.ft,20.83 K/sq.ft,2
5,6.5 Cr,4 BHK,"Sector 6, Nerul,Navi Mumbai",3195 sq.ft,20.34 K/sq.ft,4
6,1.85 Cr,2 BHK,"Sector 11, Nerul,Navi Mumbai",1250 sq.ft,14.80 K/sq.ft,2
7,18.0 Cr,10 BHK,"Sector 23, Nerul,Navi Mumbai",12000 sq.ft,15.00 K/sq.ft,10
8,6.5 Cr,4 BHK,"Sector 28, Nerul,Navi Mumbai",2705 sq.ft,24.03 K/sq.ft,4
12,2.8 Cr,3 BHK,"Sector 28, Nerul,Navi Mumbai",1404 sq.ft,19.94 K/sq.ft,3
13,1.9 Cr,2 BHK,"Sector 19A, Nerul,Navi Mumbai",1150 sq.ft,16.52 K/sq.ft,2
15,2.0 Cr,2 BHK,"Sector 19, Nerul,Navi Mumbai",1230 sq.ft,16.26 K/sq.ft,2
16,2.91 Cr,3 BHK,"Sector 12, Nerul,Navi Mumbai",1765 sq.ft,16.49 K/sq.ft,3
18,10.0 Cr,4 BHK,"Sector 14, Nerul,Navi Mumbai",3800 sq.ft,26.32 K/sq.ft,4

In [11]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [12]:
df4 = df3.copy()
df4.total_sqft = df4.total_sqft.apply(convert_sqft_to_num)
df4 = df4[df4.total_sqft.notnull()]
df4.head(2)

Empty DataFrame
Columns: [price, size, location, total_sqft, price_per_sqft, bhk]
Index: []

In [13]:
df3.loc[30]

price                                  1.75 Cr
size                                     2 BHK
location          Sector 27, Nerul,Navi Mumbai
total_sqft                          1150 sq.ft
price_per_sqft                   15.22 K/sq.ft
bhk                                          2
Name: 30, dtype: object

In [14]:
df3_stats = df3['price_per_sqft'].describe()
df3_stats

count               244
unique              198
top       15.00 K/sq.ft
freq                  7
Name: price_per_sqft, dtype: object

In [15]:
df3.to_csv("cleaneddata.csv",index=False)

In [ ]:
df5 = pd.read_csv("cleaneddata1.csv")
df5.head()